h1 { 
	color:white;
	font-variant: uppercase;

}
body {
	background-image: url("nasa.png");
	
}
.background-area {
	background-color:#DDDDDD;
	width:60%;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 12px;
	margin-bottom: 12px;
	padding: 3%;
	
}
#paragraph-color {
	
	color:33A1C9;
	
}
