body {
    background-color: 33A1C9;
}
a:link {
	/*darkblue*/
    color: B9D3EE;
	
}

a:visited {
	/*greenish*/
    color: CAFF70;
}

a:hover {
	/*lightblue*/
    color: 00ced1;
}
a:active {
	
    color: yellow;
}
p {
	color: darkblue;
}

p::first-letter {
    color: white;
	 font-weight: bold;
    
}
img {
    float: left;
	padding: 30px;
	
	
}